@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CÔNG TY ĐƯỜNG SẮT SÀI GÒN</h1>
    <p class="lead"> </p>
    <p><a href="/ThanhToans/BookingTicket" class="btn btn-primary btn-lg">Mua vé ngay</a></p>
</div>

